/*************************************************************************
**** Gallery styles
*************************************************************************/
.contribly .gallery {
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  .gallery-head{
    padding:30px 25px;
    background-color: #f4f4f4;
    border-bottom: 4px solid #ebebeb;
      h1{
        font-size: 1.2rem;
        margin:0;
      }
  }
  .list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
      .list-item {
        box-sizing: border-box;
        display: flex; 
        padding: 0.5em;
        width: 100%;
          @media all and (min-width: 40em) {
              width: 50%;
          }
          @media all and (min-width: 60em) {
              width: 33.33%;
          }
          &:hover{
            .list-content{
              background-color: #dedeeb;
            }
          }
      }
      .list-content {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 1em;
        width: 100%;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        .overlay{
          position: absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          background-color: rgba(0,0,0,0.2);
          display: none;
        }
        img {
          width:100%;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
        }
        p {
          flex: 1 0 auto;
          margin: 0;
          background-color: #ffffff;
          border: 1px solid #e0e0e0;
          padding: 15px 20px;
          color: #202121;
          font-size: 1rem;
          line-height: 1.3rem;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
        }
        h3 {
            color: black;
        }
      }
  }
}

.contribly .gallery .attributes {
    font-family: sans-serif;
    color: #666;
    font-size: 10pt;
}

.contribly .gallery ul.attributes {
    list-style-type: none;
    margin: 2pt;
    padding: 0;
}

.contribly .gallery .attributes li  {
    float: left;
    margin-right: 10pt;
}
.contribly .gallery h2 {
    padding-top: 10pt;
    clear: both
}

$color_alabaster_approx: #f9f9f9;
$color_tundora_approx: #444;
$black_50: rgba(0, 0, 0, 0.5);
$white: #fff;
$black: #000;
$black_80: rgba(0, 0, 0, .8);
$color_log_cabin_approx: #1f1f1f;

$font_0: Helvetica Neue;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;


$url_0: url(https://s3-eu-west-1.amazonaws.com/contribly-widgets/gallery/fancybox_sprite.png);
$url_1: url(fancybox_loading.gif);
$url_2: url(blank.gif);
$url_3: url(fancybox_overlay.png);
$url_4: url(fancybox_sprite@2x.png);
$url_5: url(fancybox_loading@2x.gif);

//@extend-elements
//original selectors
//.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp
%extend_1 {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

//original selectors
//.fancybox-image, .fancybox-iframe
%extend_2 {
  display: block;
  width: 100%;
  height: 100%;
}


.fancybox-wrap {
  @extend %extend_1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
  iframe {
    @extend %extend_1;
  }
  object {
    @extend %extend_1;
  }
}
.fancybox-skin {
  @extend %extend_1;
  position: relative;
  background: $color_alabaster_approx;
  color: $color_tundora_approx;
  text-shadow: none;
  border-radius: 4px;
}
.fancybox-outer {
  @extend %extend_1;
  position: relative;
}
.fancybox-inner {
  @extend %extend_1;
  position: relative;
  overflow: hidden;
}
.fancybox-image {
  @extend %extend_1;
  @extend %extend_2;
  max-width: 100%;
  max-height: 100%;
}
.fancybox-nav {
  @extend %extend_1;
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: url();
  z-index: 8040;
  span {
    @extend %extend_1;
    position: absolute;
    top: 50%;
    width: 70px;
    height: 65px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
  }
  &:hover span {
    visibility: visible;
  }
}
.fancybox-tmp {
  @extend %extend_1;
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-opened {
  z-index: 8030;
  .fancybox-skin {
    box-shadow: 0 10px 25px $black_50;
    box-shadow: none !important;
  }
  .fancybox-title {
    visibility: visible;
  }
}
.fancybox-error {
  color: $color_tundora_approx;
  font: 14px/20px $font_0, $font_1, $font_2, $font_3;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-iframe {
  @extend %extend_2;
}
#fancybox-loading {
  background-image: $url_0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
  div {
    width: 44px;
    height: 44px;
    background: $url_1 center center no-repeat;
  }
}
.fancybox-close {
  background-image: $url_0;
  position: absolute;
  top: 4px;
  right: 5px;
  width: 70px;
  height: 65px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
  span {
    background-image: $url_0;
    left: 10px;
    background-position: 0 -72px;
  }
}
.fancybox-next {
  right: 0;
  span {
    background-image: $url_0;
    right: 10px;
    background-position: 0 -144px;
  }
}
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
  body {
    overflow: hidden !important;
  }
  .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
  }
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: $url_3;
  background: $white !important;
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px $font_0, $font_1, $font_2, $font_3;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
  .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: $color_log_cabin_approx;
    border-radius: none !important;
    text-shadow: none;
    color: $white;
    line-height: 24px;
    white-space: nowrap;
    width: 89%;
  }
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: $white;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $white;
  padding: 10px;
  background: $black;
  background: $black_80;
}
@media only screen and(-webkit-min-device-pixel-ratio: 1.5), only screen and(min--moz-device-pixel-ratio: 1.5), only screen and(min-device-pixel-ratio: 1.5) {
  #fancybox-loading {
    background-image: $url_4;
    background-size: 44px 152px;
    div {
      background-image: $url_5;
      background-size: 24px 24px;
    }
  }
  .fancybox-close {
    background-image: $url_4;
    background-size: 44px 152px;
  }
  .fancybox-prev span {
    background-image: $url_4;
    background-size: 44px 152px;
  }
  .fancybox-next span {
    background-image: $url_4;
    background-size: 44px 152px;
  }
  .fancybox-nav span {
   visibility: visible;
  }

}




